@font-face{
	font-family: Langdon;
    src: url("../fonts/Langdon.otf") format("opentype");
}

.quecodig_plugin .content-api-header{
	z-index: 2;
	width: 100%;
	color: #FFF;
	float: left;
	padding: 5px;
	line-height: 170px;
	text-align: center;
	position: relative;
	border: 1px solid steelblue;
	border-bottom: 3px solid #C73030;
}
.quecodig_plugin .content-api{
	width: 100%;
	position: relative;
}
.quecodig_plugin .content-api .alert.warning{
	width: 100%;
	float: left;
	padding: 0px 10px;
	display: block;
	color: #FFFFFF;
	background: red;
}
.quecodig_plugin .content-api .main{
	width: 100%;
	border: 2px solid;
	border-radius: 3px;
	background: #fafafa;
	margin-bottom: 10px;
	display: inline-block;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	-webkit-box-shadow: 3px 3px 3px 0px rgba(204,204,204,1);
	-moz-box-shadow: 3px 3px 3px 0px rgba(204,204,204,1);
	box-shadow: 3px 3px 3px 0px rgba(204,204,204,1);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.quecodig_plugin .content-api .main#home{
	background: url("../img/header-bg.jpg");
	background-size: 100%;
	position: relative;
}

.quecodig_plugin .content-api .main#home:before{
	content: "";
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgba(0,0,0,0.6);
}

.quecodig_plugin .content-api .main .text{
	z-index: 2;
	padding: 10px;
	position: relative;
}

.quecodig_plugin .content-api .main .text .logo{
	width: 10%;
}

.quecodig_plugin .content-api .main .text .welcome{
	width: 90%;
}

.quecodig_plugin .content-api .main .text .welcome h2{
	margin: 5px;
	font-size: 20px;
}

.quecodig_plugin .content-api .main .text .welcome p{
	font-size: 16px;
}

.quecodig_plugin .content-api .main .text .welcome p,
.quecodig_plugin .content-api .main .text .welcome h2{
	color: #FFFFFF;
	line-height: 1.2;
}

.quecodig_plugin .content-api .main .text .welcome .updated p,
.quecodig_plugin .content-api .main .text .welcome .notice p{
	color: #000000;
}

.quecodig_plugin .content-api .main .text .logo,
.quecodig_plugin .content-api .main .text .welcome{
	float: left;
	padding: 10px;
	display: inline-block;
}

.quecodig_plugin button.accordion {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	transition: 0.4s;
}

.quecodig_plugin button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

.quecodig_plugin .active, .accordion:hover {
	background-color: #ccc;
}

.quecodig_plugin .accordion:after {
	content: '\002B';
	color: #777;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}

.quecodig_plugin .active:after {
	content: "\2212";
}

.quecodig_plugin div.config{
	width: 80%;
	margin: 0 auto;
	padding: 20px 10px;
	text-align: center;
}

.quecodig_plugin div.panel {
	max-height: 0;
	padding: 0 18px;
	overflow: hidden;
	background-color: white;
	transition: max-height 0.5s;
}

.quecodig_plugin div.panel.show {
    opacity: 1;
    display: block;
}

.quecodig_plugin .content-video{
	width: 50%;
	float: left;
	position: relative;
	display: inline-block;
}

.quecodig_plugin .hs-responsive-embed{
	height: 0;
	width: 100%;
	padding-top: 25px;
	position: relative;
	margin-bottom: 25px;
	padding-bottom: 56.25%; /* 16:9 */
}

.quecodig_plugin .hs-responsive-embed iframe,
.quecodig_plugin .hs-responsive-embed object,
.quecodig_plugin .hs-responsive-embed embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.quecodig_plugin .hs-responsive-embed,
.quecodig_plugin .hs-responsive-embed.hs-responsive-embed-youtube,
.quecodig_plugin .hs-responsive-embed.hs-responsive-embed-wistia,
.quecodig_plugin .hs-responsive-embed.hs-responsive-embed-vimeo {
	padding-bottom: 56.25%;
}

@media screen and (max-width: 600px){
	.quecodig_plugin .content-api .main .text .logo{
		width: 50%;
	}
}

.info-log,
.reporter-log{
	width: 50%;
	float: left;
	padding: 10px;
	display: inline-block;
}

.info-log p,
.info-log span,
.reporter-log p,
.reporter-log span{
	float: left;
}

.main .btn,
.info-log .btn,
.reporter-log .btn{
	margin: 5px;
	float: left;
	padding: 10px;
	display: block;
	cursor: pointer;
	color: #FFFFFF;
	border-radius: 5px;
	background: #1da1f2;
	text-decoration: none;
}

//
// Forms
// --------------------------------------------------

fieldset {
	min-width: 0;
	padding: 0;
	margin: 0;
	border: 0;
}
legend {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: 20px;
	font-size: 21px;
	line-height: inherit;
	color: #333;
	border: 0;
	border-bottom: 1px solid #e5e5e5;
}
label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: bold;
}
input[type="search"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
input[type="radio"],
input[type="checkbox"] {
	margin: 4px 0 0;
	margin-top: 1px \9;
	line-height: normal;
}
input[type="file"] {
	display: block;
}
input[type="range"] {
	display: block;
	width: 100%;
}
select[multiple],
select[size] {
	height: auto;
}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
output {
	display: block;
	padding-top: 7px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
}
.form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-control::-moz-placeholder {
	color: #999;
	opacity: 1;
}
.form-control:-ms-input-placeholder {
	color: #999;
}
.form-control::-webkit-input-placeholder {
	color: #999;
}
.form-control::-ms-expand {
	background-color: transparent;
	border: 0;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
	background-color: #eee;
	opacity: 1;
}
.form-control[disabled],
fieldset[disabled] .form-control {
	cursor: not-allowed;
}
textarea.form-control {
	height: auto;
}
input[type="search"] {
	-webkit-appearance: none;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
	input[type="date"].form-control,
	input[type="time"].form-control,
	input[type="datetime-local"].form-control,
	input[type="month"].form-control {
		line-height: 34px;
	}
	input[type="date"].input-sm,
	input[type="time"].input-sm,
	input[type="datetime-local"].input-sm,
	input[type="month"].input-sm,
	.input-group-sm input[type="date"],
	.input-group-sm input[type="time"],
	.input-group-sm input[type="datetime-local"],
	.input-group-sm input[type="month"] {
		line-height: 30px;
	}
	input[type="date"].input-lg,
	input[type="time"].input-lg,
	input[type="datetime-local"].input-lg,
	input[type="month"].input-lg,
	.input-group-lg input[type="date"],
	.input-group-lg input[type="time"],
	.input-group-lg input[type="datetime-local"],
	.input-group-lg input[type="month"] {
		line-height: 46px;
	}
}
.form-group {
	margin-bottom: 15px;
}
.radio,
.checkbox {
	position: relative;
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
}
.radio label,
.checkbox label {
	min-height: 20px;
	padding-left: 20px;
	margin-bottom: 0;
	font-weight: normal;
	cursor: pointer;
}