/* stylelint-disable */
.hide-on-desktop {
  display: none !important; }

@media (max-width: 767px) {
  .hide-on-mobile {
    display: none !important; }
  .hide-on-desktop {
    display: block !important; } }

.page.dashboard-page *{
  box-sizing: border-box;
}

/* ==========================================================================
   Title
   ========================================================================== */
.title {
  font-family: Roboto;
  max-width: 100%; }

/* Level
   ========================================================================== */
.title--level-1 {
  font-size: 32px;
  line-height: 46px; }

.title--level-2 {
  font-size: 26px;
  line-height: 38px; }

.title--level-3 {
  font-size: 24px;
  line-height: 36px; }

.title--level-4 {
  font-size: 18px;
  line-height: 26px; }

.title--level-5 {
  font-size: 16px;
  line-height: 22px; }

.title--level-6 {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase; }

/* Density
   ========================================================================== */
.title--density-airy.title--level-1 {
  padding: 32px 0; }

.title--density-airy.title--level-2 {
  padding: 34px 0; }

.title--density-airy.title--level-3 {
  padding: 34px 0; }

.title--density-airy.title--level-4 {
  padding: 36px 0; }

.title--density-airy.title--level-5 {
  padding: 38px 0; }

.title--density-airy.title--level-6 {
  padding: 38px 0; }

.title--density-comfortable.title--level-1 {
  padding: 22px 0; }

.title--density-comfortable.title--level-2 {
  padding: 24px 0; }

.title--density-comfortable.title--level-3 {
  padding: 24px 0; }

.title--density-comfortable.title--level-4 {
  padding: 26px 0; }

.title--density-comfortable.title--level-5 {
  padding: 28px 0; }

.title--density-comfortable.title--level-6 {
  padding: 28px 0; }

.title--density-cozy.title--level-1 {
  padding: 12px 0; }

.title--density-cozy.title--level-2 {
  padding: 14px 0; }

.title--density-cozy.title--level-3 {
  padding: 14px 0; }

.title--density-cozy.title--level-4 {
  padding: 16px 0; }

.title--density-cozy.title--level-5 {
  padding: 18px 0; }

.title--density-cozy.title--level-6 {
  padding: 18px 0; }

.title--density-compact.title--level-1 {
  padding: 2px 0; }

.title--density-compact.title--level-2 {
  padding: 4px 0; }

.title--density-compact.title--level-3 {
  padding: 4px 0; }

.title--density-compact.title--level-4 {
  padding: 6px 0; }

.title--density-compact.title--level-5 {
  padding: 8px 0; }

.title--density-compact.title--level-6 {
  padding: 8px 0; }

.title--density-none {
  padding: 0; }

/* ==========================================================================
   Title Media Queries
   ========================================================================== */
@media (max-width: 767px) {
  .title--level-1 {
    font-size: 26px;
    line-height: 36px; }
  .title--level-2 {
    font-size: 22px;
    line-height: 28px; }
  .title--level-3 {
    font-size: 20px;
    line-height: 26px; }
  /* Density
     ========================================================================== */
  .title--density-airy.title--level-1 {
    padding: 22px 0; }
  .title--density-airy.title--level-2 {
    padding: 24px 0; }
  .title--density-airy.title--level-3 {
    padding: 24px 0; }
  .title--density-airy.title--level-4 {
    padding: 26px 0; }
  .title--density-airy.title--level-5 {
    padding: 28px 0; }
  .title--density-airy.title--level-6 {
    padding: 28px 0; }
  .title--density-comfortable.title--level-1 {
    padding: 12px 0; }
  .title--density-comfortable.title--level-2 {
    padding: 14px 0; }
  .title--density-comfortable.title--level-3 {
    padding: 14px 0; }
  .title--density-comfortable.title--level-4 {
    padding: 16px 0; }
  .title--density-comfortable.title--level-5 {
    padding: 18px 0; }
  .title--density-comfortable.title--level-6 {
    padding: 18px 0; } }



/* ==========================================================================
   Page
   ========================================================================== */
.header + .page {
  height: calc(100vh - 80px); }

.page {
  position: relative;
  flex: 1 1 0;
  padding-left: 0;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  will-change: transform; }

/* ==========================================================================
   Section
   ========================================================================== */
.section {
  width: 100%;
  transition: transform 300ms linear 0ms;
  will-change: transform; }

.section__content {
  margin: 0 auto; }


/* ==========================================================================
   Media queries
   ========================================================================== */
@media (min-width: 1500px) {
  .page--translate .section {
    transform: translateX(130px); }
  .drawer-overlay {
    display: none; } }

@media (max-width: 767px) {
  .header + .page {
    height: calc(100vh - 60px); }
  .section--content-size-expanded .section__content {
    max-width: 1240px; } }

/* Additional Reset */
h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

html {
  background: none;
  overflow: initial; }

.dashboard_page_custom-dashboard .page {
  height: 100%;
  overflow: initial; }

.dashboard_page_custom-dashboard .link:visited {
  color: #25b8d2; }

.dashboard-page .section__content > h4.title:nth-of-type(1) {
  display: none; }

.useful-links .flex {
  justify-content: space-between; }

.useful-links .box--sm-6 {
  width: 49%; }

img {
  display: inline; }


/* ==========================================================================
   Container
   ========================================================================== */
.container {
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  background: #fff; }

/* Container Elevations
   ========================================================================== */
.container--elevation-1 {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 5px 0 rgba(0, 0, 0, 0.16); }

.container--elevation-2 {
  box-shadow: 0 6px 17px 0 rgba(0, 0, 0, 0.16), 0 8px 14px 0 rgba(0, 0, 0, 0.18); }

.container--elevation-3 {
  box-shadow: 0 17px 40px 0 rgba(0, 0, 0, 0.17), 0 12px 15px 0 rgba(0, 0, 0, 0.2); }

.container--elevation-4 {
  box-shadow: 0 25px 45px 0 rgba(0, 0, 0, 0.2), 0 16px 24px 0 rgba(0, 0, 0, 0.22); }

.container--elevation-5 {
  box-shadow: 0 40px 60px 0 rgba(0, 0, 0, 0.22), 0 27px 22px 0 rgba(0, 0, 0, 0.2); }

/* Container Paddings
   ========================================================================== */
.container--padding-xx-large {
  padding: 60px; }

.container--padding-x-large {
  padding: 40px; }

.container--padding-large {
  padding: 30px; }

.container--padding-medium {
  padding: 20px; }

.container--padding-small {
  padding: 15px; }

.container--padding-none {
  padding: 0; }

/* ==========================================================================
   Flex
   ========================================================================== */
.flex {
  display: flex;
  flex-wrap: wrap; }

.flex > * {
  min-width: 0;
  max-width: 100%; }

/* Direction
   ========================================================================== */
.flex--direction-row {
  flex-direction: row; }

.flex--direction-column {
  flex-direction: column; }

.flex--direction-row-reverse {
  flex-direction: row-reverse; }

.flex--direction-column-reverse {
  flex-direction: column-reverse; }



/* Align items
   ========================================================================== */
.flex--align-flex-start {
  align-items: flex-start; }

.flex--align-center {
  align-items: center; }

.flex--align-flex-end {
  align-items: flex-end; }

.flex--align-baseline {
  align-items: baseline; }

.flex--align-stretch {
  align-items: stretch; }






/* Columns
   ========================================================================== */
@media (max-width: 767px) {
  *[class*="box--sm-"],
  *[class*="box--m-"],
  *[class*="box--lg-"] {
    width: 100%;
    margin-top: 20px; }
  *[class*="box--sm-"]:first-child,
  *[class*="box--m-"]:first-child,
  *[class*="box--lg-"]:first-child {
    margin-top: 0; }
  *[class*="box--sm-"] .box--gutter-x-medium:first-child,
  *[class*="box--m-"] .box--gutter-x-medium:first-child,
  *[class*="box--lg-"] .box--gutter-x-medium:first-child {
    padding-left: 10px; }
  *[class*="box--sm-"] .box--gutter-x-medium:last-child,
  *[class*="box--m-"] .box--gutter-x-medium:last-child,
  *[class*="box--lg-"] .box--gutter-x-medium:last-child {
    padding-right: 10px; }
  *[class*="box--sm-"] .box--gutter-y-medium:first-child,
  *[class*="box--m-"] .box--gutter-y-medium:first-child,
  *[class*="box--lg-"] .box--gutter-y-medium:first-child {
    padding-top: 20px; }
  *[class*="box--sm-"] .box--gutter-y-medium:last-child,
  *[class*="box--m-"] .box--gutter-y-medium:last-child,
  *[class*="box--lg-"] .box--gutter-y-medium:last-child {
    padding-bottom: 20px; } }

@media (max-width: 767px) {
  .box--xs-1 {
    width: 8.33333%; }
  .box--xs-2 {
    width: 16.66667%; }
  .box--xs-3 {
    width: 25%; }
  .box--xs-4 {
    width: 33.33333%; }
  .box--xs-5 {
    width: 41.66667%; }
  .box--xs-6 {
    width: 50%; }
  .box--xs-7 {
    width: 58.33333%; }
  .box--xs-8 {
    width: 66.66667%; }
  .box--xs-9 {
    width: 75%; }
  .box--xs-10 {
    width: 83.33333%; }
  .box--xs-11 {
    width: 91.66667%; }
  .box--xs-12 {
    width: 100%; } }

@media (min-width: 768px) {
  .box--sm-1 {
    width: 8.33333%; }
  .box--sm-2 {
    width: 16.66667%; }
  .box--sm-3 {
    width: 25%; }
  .box--sm-4 {
    width: 33.33333%; }
  .box--sm-5 {
    width: 41.66667%; }
  .box--sm-6 {
    width: 50%; }
  .box--sm-7 {
    width: 58.33333%; }
  .box--sm-8 {
    width: 66.66667%; }
  .box--sm-9 {
    width: 75%; }
  .box--sm-10 {
    width: 83.33333%; }
  .box--sm-11 {
    width: 91.66667%; }
  .box--sm-12 {
    width: 100%; } }

@media (min-width: 1024px) {
  .box--m-1 {
    width: 8.33333%; }
  .box--m-2 {
    width: 16.66667%; }
  .box--m-3 {
    width: 25%; }
  .box--m-4 {
    width: 33.33333%; }
  .box--m-5 {
    width: 41.66667%; }
  .box--m-6 {
    width: 50%; }
  .box--m-7 {
    width: 58.33333%; }
  .box--m-8 {
    width: 66.66667%; }
  .box--m-9 {
    width: 75%; }
  .box--m-10 {
    width: 83.33333%; }
  .box--m-11 {
    width: 91.66667%; }
  .box--m-12 {
    width: 100%; } }

@media (min-width: 1200px) {
  .box--lg-1 {
    width: 8.33333%; }
  .box--lg-2 {
    width: 16.66667%; }
  .box--lg-3 {
    width: 25%; }
  .box--lg-4 {
    width: 33.33333%; }
  .box--lg-5 {
    width: 41.66667%; }
  .box--lg-6 {
    width: 50%; }
  .box--lg-7 {
    width: 58.33333%; }
  .box--lg-8 {
    width: 66.66667%; }
  .box--lg-9 {
    width: 75%; }
  .box--lg-10 {
    width: 83.33333%; }
  .box--lg-11 {
    width: 91.66667%; }
  .box--lg-12 {
    width: 100%; } }
/* ==========================================================================
   Text
   ========================================================================== */
/* Sizes
   ========================================================================== */
.text--size-small {
  font-size: 12px;
  line-height: 18px; }

.text--size-medium, .events--news .wordpress--news a, .events--news .wordpress--events .community-events-results .event .event-title {
  font-size: 14px;
  line-height: 22px; }

.text--size-large {
  font-size: 16px;
  line-height: 28px; }

.text--size-x-large {
  font-size: 18px;
  line-height: 32px; }

.text--size-xx-large {
  font-size: 22px;
  line-height: 40px; }
/* Align
   ========================================================================== */
.typography--align-left {
  text-align: left;
  align-self: flex-start; }

.typography--align-center {
  text-align: center;
  align-self: center; }

.typography--align-right {
  text-align: right;
  align-self: flex-end; }


/* ==========================================================================
   Button
   ========================================================================== */
.button {
  display: inline-block;
  border: 2px solid transparent;
  border-radius: 3px;
  font-family: Roboto;
  font-weight: 500;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
}

.button:hover {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 5px 0 rgba(0, 0, 0, 0.16);
  cursor: pointer; }

.button:active,
.button:visited {
  color: #FFFFFF;
  box-shadow: none;
}

.button:focus {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 5px 0 rgba(0, 0, 0, 0.16); }

.button + .button {
  margin-left: 15px; }

.button__content {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 100%; }

.button__text {
  line-height: 1; }

.button__text:first-child {
  margin-right: 10px; }

.button__text:last-child {
  margin-left: 10px; }

.button__text:only-child {
  margin-right: 0;
  margin-left: 0; }

/* Button Colors
   ========================================================================== */
.button--primary, .events--news .wordpress--events .activity-block .community-events-form #community-events-submit {
  color: #fff !important;
  background: #1da1f2; }

.button--primary:hover, .events--news .wordpress--events .activity-block .community-events-form #community-events-submit:hover {
  background-color: #1da1f2; }

.button--primary:active, .events--news .wordpress--events .activity-block .community-events-form #community-events-submit:active {
  color: white;
  background-color: #ef9a78; }

/* Button Sizes
   ========================================================================== */
.button--xx-large {
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 12px;
  font-weight: 600; }

.button--xx-large .icon {
  width: 22px;
  height: 22px; }

.button--x-large {
  height: 50px;
  padding-left: 28px;
  padding-right: 28px;
  font-size: 14px; }

.button--x-large .icon {
  width: 20px;
  height: 20px; }

.button--large {
  height: 40px;
  padding-left: 23px;
  padding-right: 23px;
  font-size: 14px; }

.button--large .icon {
  width: 16px;
  height: 16px; }

.button--medium, .events--news .wordpress--events .activity-block .community-events-form #community-events-submit, .events--news .wordpress--events .activity-block .community-events-form button {
  height: 36px;
  padding-left: 18px;
  padding-right: 18px;
  font-size: 13px; }

.button--medium .icon, .events--news .wordpress--events .activity-block .community-events-form #community-events-submit .icon, .events--news .wordpress--events .activity-block .community-events-form button .icon {
  width: 16px;
  height: 16px; }

.button--small {
  height: 30px;
  padding-left: 18px;
  padding-right: 18px;
  font-size: 13px; }

.button--small .icon {
  width: 12px;
  height: 12px; }

/* Disabled state
   ========================================================================== */
/* semantic and typography colors */

/*
      Regression with fieldWrapper padding (check Input)
    */
.with-padding.with-padding.with-padding--padding-top-none {
  padding-top: 0; }

/*
      Regression with fieldWrapper padding (check Input)
    */
.with-padding.with-padding.with-padding--padding-right-none {
  padding-right: 0; }

/*
      Regression with fieldWrapper padding (check Input)
    */
.with-padding.with-padding.with-padding--padding-bottom-none {
  padding-bottom: 0; }

/*
      Regression with fieldWrapper padding (check Input)
    */
.with-padding.with-padding.with-padding--padding-left-none {
  padding-left: 0; }

/*
      Regression with fieldWrapper padding (check Input)
    */
.with-padding.with-padding.with-padding--padding-top-xx-small {
  padding-top: 5px; }

/*
      Regression with fieldWrapper padding (check Input)
    */
.with-padding.with-padding.with-padding--padding-right-xx-small {
  padding-right: 5px; }

/*
      Regression with fieldWrapper padding (check Input)
    */
.with-padding.with-padding.with-padding--padding-bottom-xx-small {
  padding-bottom: 5px; }

/*
      Regression with fieldWrapper padding (check Input)
    */
.with-padding.with-padding.with-padding--padding-left-xx-small {
  padding-left: 5px; }

/*
      Regression with fieldWrapper padding (check Input)
    */
.with-padding.with-padding.with-padding--padding-top-x-small {
  padding-top: 10px; }

/*
      Regression with fieldWrapper padding (check Input)
    */
.with-padding.with-padding.with-padding--padding-right-x-small {
  padding-right: 10px; }

/*
      Regression with fieldWrapper padding (check Input)
    */
.with-padding.with-padding.with-padding--padding-bottom-x-small {
  padding-bottom: 10px; }

/*
      Regression with fieldWrapper padding (check Input)
    */
.with-padding.with-padding.with-padding--padding-left-x-small {
  padding-left: 10px; }

/*
      Regression with fieldWrapper padding (check Input)
    */
.with-padding.with-padding.with-padding--padding-top-small {
  padding-top: 15px; }

/*
      Regression with fieldWrapper padding (check Input)
    */
.with-padding.with-padding.with-padding--padding-right-small {
  padding-right: 15px; }

/*
      Regression with fieldWrapper padding (check Input)
    */
.with-padding.with-padding.with-padding--padding-bottom-small {
  padding-bottom: 15px; }

/*
      Regression with fieldWrapper padding (check Input)
    */
.with-padding.with-padding.with-padding--padding-left-small {
  padding-left: 15px; }

/*
      Regression with fieldWrapper padding (check Input)
    */
.with-padding.with-padding.with-padding--padding-top-medium {
  padding-top: 20px; }

/*
      Regression with fieldWrapper padding (check Input)
    */
.with-padding.with-padding.with-padding--padding-right-medium {
  padding-right: 20px; }

/*
      Regression with fieldWrapper padding (check Input)
    */
.with-padding.with-padding.with-padding--padding-bottom-medium {
  padding-bottom: 20px; }

/*
      Regression with fieldWrapper padding (check Input)
    */
.with-padding.with-padding.with-padding--padding-left-medium {
  padding-left: 20px; }

/*
      Regression with fieldWrapper padding (check Input)
    */
.with-padding.with-padding.with-padding--padding-top-large {
  padding-top: 30px; }

/*
      Regression with fieldWrapper padding (check Input)
    */
.with-padding.with-padding.with-padding--padding-right-large {
  padding-right: 30px; }

/*
      Regression with fieldWrapper padding (check Input)
    */
.with-padding.with-padding.with-padding--padding-bottom-large {
  padding-bottom: 30px; }

/*
      Regression with fieldWrapper padding (check Input)
    */
.with-padding.with-padding.with-padding--padding-left-large {
  padding-left: 30px; }

/*
      Regression with fieldWrapper padding (check Input)
    */
.with-padding.with-padding.with-padding--padding-top-x-large {
  padding-top: 40px; }

/*
      Regression with fieldWrapper padding (check Input)
    */
.with-padding.with-padding.with-padding--padding-right-x-large {
  padding-right: 40px; }

/*
      Regression with fieldWrapper padding (check Input)
    */
.with-padding.with-padding.with-padding--padding-bottom-x-large {
  padding-bottom: 40px; }

/*
      Regression with fieldWrapper padding (check Input)
    */
.with-padding.with-padding.with-padding--padding-left-x-large {
  padding-left: 40px; }

/*
      Regression with fieldWrapper padding (check Input)
    */
.with-padding.with-padding.with-padding--padding-top-xx-large {
  padding-top: 60px; }

/*
      Regression with fieldWrapper padding (check Input)
    */
.with-padding.with-padding.with-padding--padding-right-xx-large {
  padding-right: 60px; }

/*
      Regression with fieldWrapper padding (check Input)
    */
.with-padding.with-padding.with-padding--padding-bottom-xx-large {
  padding-bottom: 60px; }

/*
      Regression with fieldWrapper padding (check Input)
    */
.with-padding.with-padding.with-padding--padding-left-xx-large {
  padding-left: 60px; }
.with-border {
  border: 1px solid #ddd;
  border-radius: 3px; }

.with-border--border-none {
  border: none; }
/* ==========================================================================
   Link
   ========================================================================== */
.link {
  display: inline-block;
  color: #25b8d2;
  cursor: pointer;
  word-break: break-all; }

.link:hover {
  color: #1797ae; }

.link:active {
  color: #57d0dd; }

.link:visited {
  color: #834ba2; }

/* ==========================================================================
   Icon
   ========================================================================== */
.icon {
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0; }

.icon svg {
  fill: currentColor; }

.icon--presized svg {
  max-width: 100%;
  max-height: 100%; }

.icon--use-current-color path,
.icon--use-current-color polygon,
.icon--use-current-color circle {
  fill: currentColor; }

.icon--interactive {
  cursor: pointer; }

.section__content {
  margin-left: 0;
  padding-left: 10px;
  padding-right: 30px; }

.sg-border-bottom {
  border-bottom: 1px solid #ddd; }

.sg-margin-bottom-medium {
  margin-bottom: 20px; }

.sg-margin-top-medium {
  margin-top: 20px; }

.sg-margin-top-large {
  margin-top: 30px; }

.sg-margin-top-x-small {
  margin-top: 10px; }

.sg--position-top-right {
  position: absolute;
  top: 5px;
  right: 10px; }

@media (max-width: 782px) {
  .section__content {
    padding-left: 20px; } }

@media (max-width: 767px) {
  .sg--hide-mobile, .community-events-results .dashicons {
    display: none; }
  .mobile--remove-nowrap {
    flex-wrap: wrap; }
  .mobile--remove-justify {
    justify-content: unset; }
  .useful-links .with-padding.with-padding--padding-right-x-small {
    padding-right: 40px; }
  .useful-links .with-padding.with-padding--padding-bottom-large {
    padding-bottom: 20px; }
  .useful-links .flex {
    justify-content: space-between; }
  .useful-links .box--sm-6 {
    width: 100%; }
  .useful-links .box:last-of-type {
    padding-top: 20px; }
  *[class*="box--sm-"].mobile-side-reset,
  *[class*="box--m-"].mobile-side-reset,
  *[class*="box--lg-"].mobile-side-reset {
    padding-left: 0 !important;
    padding-right: 0 !important; }
  *[class*="box--sm-"].mobile-space-reset,
  *[class*="box--m-"].mobile-space-reset,
  *[class*="box--lg-"].mobile-space-reset {
    margin-top: 0; } }

.qc-btn{
  margin: 5px;
  float: left;
  padding: 10px;
  display: block;
  color: #FFFFFF;
  border-radius: 5px;
  background: #1da1f2;
  text-decoration: none;
}

#woocommerce_dashboard_recent_reviews a,
#woocommerce_dashboard_status a{
  text-decoration: none;
}

/* WooCommerce */
#ptmp-monthly-sales-summary .ptmp-products-list a {
  display: block;
  color: #aaa;
  -webkit-transition: all ease .5s;
  position: relative;
  font-size: 12px;
}
#ptmp-monthly-sales-summary .ptmp-products-list a:before {
  font-family: WooCommerce;
  speak: none;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  margin: 0 12px 12px 0;
  text-indent: 0;
  top: 0;
  left: 0;
  height: 100%;
  text-align: center;
  content: "";
  font-size: 2em;
  position: relative;
  width: auto;
  color: #464646;
  float: left;
}
#ptmp-monthly-sales-summary .ptmp-products-list td{
  padding-top: 15px;
  padding-bottom: 5px;
}
#ptmp-monthly-sales-summary .ptmp-products-list td.seller-this-month a:before {
  content: "\e006";
}
 
#ptmp-monthly-sales-summary .ptmp-products-list a:hover strong, #ptmp-monthly-sales-summary .ptmp-products-list a:hover:before {
  color: #2ea2cc!important;
}
 
#ptmp-monthly-sales-summary .ptmp-products-list a strong {
  font-size: 14px;
  font-weight: 400;
  display: block;
  color: #21759b;
}