html{background:#fff}#wpwrap,body{background:#f1f1f1}#adminmenu{margin:0}#adminmenu div.wp-menu-image:before{color:#a0a5aa;color:#a0a5aa}#adminmenu,
#adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu .wp-has-current-submenu .wp-submenu.sub-open,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu,
#adminmenu .wp-submenu,
#adminmenu a.wp-has-current-submenu:focus+.wp-submenu,
#adminmenuback,
#adminmenuwrap,
.no-js li.wp-has-current-submenu:hover .wp-submenu{background:#f5f5f5}#adminmenu .awaiting-mod,
#adminmenu .update-plugins{float:right;margin-right:5px}#collapse-button div:after,#collapse-menu{color:#666}#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head,
#adminmenu .wp-menu-arrow,
#adminmenu .wp-menu-arrow div,
#adminmenu li.current a.menu-top,
#adminmenu li.menu-top:hover,
#adminmenu li.opensub>a.menu-top,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
#adminmenu li>a.menu-top:focus,
.folded #adminmenu li.current.menu-top,
.folded #adminmenu li.wp-has-current-submenu{background:#fff}#adminmenu li.wp-menu-separator{display:none}#adminmenu .wp-submenu-head,
#adminmenu a.menu-top{padding:7px
0}.folded #adminmenu .wp-submenu-head,
.folded #adminmenu a.menu-top{padding:5px
0}#adminmenu .wp-not-current-submenu .wp-submenu,
.folded #adminmenu .wp-has-current-submenu .wp-submenu{padding:10px}#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu div.wp-menu-name{color:#fff}#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after,
ul#adminmenu a.wp-has-current-submenu:after,ul#adminmenu>li.current>a.current:after{display:none}#adminmenu li.menu-top{border-bottom:1px solid #e4e4e4}#adminmenu div.wp-menu-name{color:#666}.wrap .add-new-h2,
.wrap .add-new-h2:active{color:#fff;top:-8px}.update-core-php
h2{}#titlediv #title-prompt-text{font-size:1.2em;font-weight:100}div.updated{border:1px
solid #e1e1e1;-webkit-box-shadow:none;box-shadow:none}input[type=email],input[type=number],input[type=password],input[type=search],input[type=tel],input[type=text],input[type=url],select,textarea{box-shadow:none}.postbox{border:1px
solid #e1e1e1}.menu.ui-sortable .menu-item-handle,
.meta-box-sortables.ui-sortable
.hndle{background:#f5f5f5}#major-publishing-actions{background:#fff;padding:0}#delete-action{float:none;padding:15px
0;text-align:center}#delete-action
a{text-decoration:underline}#publishing-action{float:none;display:block;width:100%}#publishing-action
.spinner{width:100%;background-position:top center;display:none;float:none;padding:5px
0;margin:0}#publishing-action .spinner.is-active{display:block}#publishing-action
#publish{float:none;font-size:16px;height:auto;padding:10px;width:100%}.wp-core-ui .button,
.wp-core-ui .button-primary,
.wp-core-ui .button-secondary{-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;box-shadow:none;text-shadow:none;border:0}.wp-core-ui .button.button-primary.button-hero{box-shadow:none}.wp-core-ui .button,
.wp-core-ui .button-secondary{background:#e4e4e4}.wp-core-ui .button-primary,
.wp-core-ui .button-secondary:hover,
.wp-core-ui .button:hover{color:#fff}.wp-core-ui .button-secondary:hover span.wp-media-buttons-icon:before,
.wp-core-ui .button:hover span.wp-media-buttons-icon:before{color:#fff}.wp-media-buttons .insert-media{font-size:12px}.wp-media-buttons .add_media span.wp-media-buttons-icon:before{font-size:14px!important}.html-active .switch-html,
.tmce-active .switch-tmce,div.mce-toolbar-grp{background:#fff!important}#acf-col-right{display:none}#acf-col-left{margin:0!important}.vc_navbar.subnav-fixed{top:40px!important}#adminmenu .wp-not-current-submenu li>a{color:#000}.view-switch a.current:before,a,input[type=checkbox]:checked:before{color:#1da1f2}a:hover{color:#2581bf}#adminmenu li a:focus div.wp-menu-image:before,
#adminmenu li.opensub div.wp-menu-image:before,
#adminmenu li:hover div.wp-menu-image:before{color:#1da1f2!important}#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head,
#adminmenu .wp-menu-arrow,
#adminmenu .wp-menu-arrow div,
#adminmenu li.current a.menu-top,
#adminmenu li.menu-top:hover,
#adminmenu li.opensub>a.menu-top,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
#adminmenu li>a.menu-top:focus,
.folded #adminmenu li.current.menu-top,
.folded #adminmenu li.wp-has-current-submenu{background:#1da1f2;background:#fff}#adminmenu .current div.wp-menu-image:before,
#adminmenu .opensub .wp-submenu li.current a,
#adminmenu .wp-has-current-submenu div.wp-menu-image:before,
#adminmenu .wp-submenu .wp-submenu-head,
#adminmenu .wp-submenu li.current,
#adminmenu .wp-submenu li.current a,
#adminmenu .wp-submenu li.current a:focus,
#adminmenu .wp-submenu li.current a:hover,
#adminmenu a.current:hover div.wp-menu-image:before,
#adminmenu a.wp-has-current-submenu:focus+.wp-submenu li.current a,
#adminmenu a.wp-has-current-submenu:hover div.wp-menu-image:before,
#adminmenu li.wp-has-current-submenu:hover div.wp-menu-image:before,
#adminmenu li:hover div.wp-menu-image:before{color:#1da1f2}#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu div.wp-menu-name{color:#1da1f2}.wrap .add-new-h2,
.wrap .add-new-h2:active{background:#1da1f2}.wrap .add-new-h2:hover{background:#2581bf}div.updated{border-left:5px solid #1da1f2}#adminmenu li a.wp-has-current-submenu .update-plugins,
#adminmenu li.current a .awaiting-mod{background-color:#1da1f2}.wp-core-ui .button-primary,
.wp-core-ui .button-secondary:hover,
.wp-core-ui .button:hover{background:#1da1f2}.wp-core-ui .button-primary.focus,
.wp-core-ui .button-primary.hover,
.wp-core-ui .button-primary:focus,
.wp-core-ui .button-primary:hover{background:#2581bf}.composer-switch .logo-icon,
.composer-switch a,
.composer-switch a.wpb_switch-to-front-composer,
.composer-switch a:visited,
.composer-switch a:visited.wpb_switch-to-front-composer{background-color:#1da1f2!important}.composer-switch .vc-spacer,
.composer-switch a.wpb_switch-to-composer:hover,
.composer-switch a.wpb_switch-to-front-composer:hover,
.composer-switch a:visited.wpb_switch-to-composer:hover,
.composer-switch a:visited.wpb_switch-to-front-composer:hover{background-color:#2581bf!important}